# https://stackoverflow.com/questions/78859635/py2app-error-17-file-exists-when-running-py2app-for-the-first-time
setuptools==70.3.0
packaging
pyobjc
corefoundationasyncio
py2app
cocoa-vanilla==0.5.0
defcon
git+https://github.com/robotools/defconAppKit
fontTools[ufo,lxml,woff,unicode,type1]
fs
brotli
pygments
jedi
pillow==10.1.0  # 10.2.0 has an incompatibility with older x86 macOS: https://github.com/python-pillow/Pillow/issues/6862#issuecomment-1913552472
attrs
booleanOperations
mutatorMath
git+https://github.com/robotools/fontParts
fontMath
git+https://github.com/robotools/fontPens
git+https://github.com/typesupply/woffTools
git+https://github.com/robotools/compositor
git+https://github.com/robotools/extractor
git+https://github.com/typesupply/ufo2svg
git+https://github.com/robotools/ufo2fdk
git+https://github.com/typesupply/feaPyFoFum
git+https://github.com/typesupply/feaTools2
pip
packaging
black==23.10.0  # pin to older version, see https://github.com/ronaldoussoren/py2app/issues/518
pytz
delocate==0.10.7  # for merging intel+silicon wheels into universal2
