setuptools>=45.2.0
packaging
pyobjc
corefoundationasyncio
py2app
cocoa-vanilla==0.2.0
defcon
git+https://github.com/robotools/defconAppKit
fontTools[ufo,lxml,woff,unicode,type1]
fs
brotli
pygments
jedi
pillow
attrs
booleanOperations
mutatorMath
git+https://github.com/robotools/fontParts
fontMath
git+https://github.com/robotools/fontPens
git+https://github.com/typesupply/woffTools
git+https://github.com/robotools/compositor
git+https://github.com/robotools/extractor
git+https://github.com/typesupply/ufo2svg
git+https://github.com/robotools/ufo2fdk
git+https://github.com/typesupply/feaPyFoFum
git+https://github.com/typesupply/feaTools2
pip
packaging
black==21.12b0  # Pin to older version to avoid dependency problems; see https://github.com/ronaldoussoren/py2app/issues/476
pytz
typing-extensions