setuptools>=45.2.0
pyobjc
# pin py2app to version 0.19, see https://github.com/ronaldoussoren/py2app/issues/281
# fix error: Failed to connect (colorGridView) outlet from (NSApplication) to (NSColorPickerGridView): missing setter or instance variable
py2app==0.19
git+https://github.com/robotools/vanilla
defcon
git+https://github.com/robotools/defconAppKit
fontTools[ufo,lxml,woff,unicode,type1]
fs
brotli
pygments
jedi
attrs
booleanOperations
mutatorMath
git+https://github.com/robotools/fontParts
fontMath
git+https://github.com/robotools/fontPens
git+https://github.com/typesupply/woffTools
git+https://github.com/robotools/compositor
git+https://github.com/robotools/extractor
git+https://github.com/typesupply/ufo2svg
git+https://github.com/typemytype/ufo2fdk
git+https://github.com/typesupply/feaPyFoFum
git+https://github.com/typesupply/feaTools2
pip
packaging
